@model BookViewModel

@{
    ViewData["Title"] = Model.Title;
}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@Model.ImageThumbnailUrl" class="img-fluid rounded-start" alt="@Model.Title" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <table class="table table-hover table-striped">
                    <tr>
                        <th>Author:</th>
                        <td>@Model.Author</td>
                    </tr>
                    <tr>
                        <th>Publisher:</th>
                        <td>@Model.Publisher</td>
                    </tr>
                    <tr>
                        <th>Publish Date:</th>
                        <td>@Model.PublishingDate</td>
                    </tr>
                    <tr>
                        <th>Hall:</th>
                        <td>@Model.Hall</td>
                    </tr>
                    <tr>
                        <th>Description:</th>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <th>Categories:</th>
                        <td>
                            <div class="row gap-2">
                                @foreach(var category in Model.Categories)
                                {
                                    <div class="col-5 text-wrap badge bg-success">
                                        @category
                                    </div>
                                }
                            </div>
                        </td>
                    </tr>

                    
                </table>
            </div>
        </div>
    </div>
</div>